<a href="https://colab.research.google.com/github/gplinkage/Data-Science-AI/blob/main/Projects/SMOTE_Handling_Imbalance_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [ ]:
data.shape

(1728, 7)

In [ ]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [ ]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']] = \
X.loc[:,['buying','maint','lug_boot','safety']].apply(enc.fit_transform)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = \
train_test_split(X,y,test_size=0.3,random_state=10)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [ ]:
17/25

0.68

In [ ]:
pip install imblearn

Requirement already satisfied: imblearn in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (from imblearn) (0.5.0)
Requirement already satisfied: numpy>=1.11 in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.16.2)
Requirement already satisfied: scipy>=0.17 in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: joblib>=0.11 in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.14.0)
Requirement already satisfied: scikit-learn>=0.21 in /Users/ashokveda/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.21.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [ ]:
X_train_smote, y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [ ]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [ ]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9441233140655106

col_0    acc  good  unacc  vgood
outcome
acc       92     6      2      2
good       0    21      0      0
unacc     15     1    354      1
vgood      0     2      0     23

In [ ]:
23/25

0.92