<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/DataScienceBootCamp/Class%20Notes%20/Notes/BDS35_09AUG_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# valid variables and invalid variables

name = 'Govinda'

gender = 'M'

address = '123 Park Street'

num1 = 12

num2 = 10

sum = num1+ num2

print (sum)

22

In [ ]:
#**Python data type**
cmlx1 = 3 +5j
print(cmlx1)
print(type(cmlx1))

(3+5j)
<class 'complex'>

In [ ]:
# boolean: True and False
bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
str1= 'Python Programming'
print (str1)
print(type (str1))

str1= "Python Programming"
print (str1)
print(type (str1))

str1= """Python Programming"""
print (str1)
print(type (str1))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str2= """FJLJOUEU4%I*O()"""
print (str2)
print(type (str2))

FJLJOUEU4%I*O()
<class 'str'>

In [ ]:
str3= """I'm very excited to learn Python today. Anurag's explanations are clear. Anurag said "We will love Python"."""
print(str3)
print (type(str3))

I'm very excited to learn Python today. Anurag's explanations are clear. Anurag said "We will love Python".
<class 'str'>

In [ ]:
#print(str1)

Python Programming

In [ ]:
#List rules
# 1. List is represented by square brackets[]
# 2. List is mutable

lst1=[12, 23,45,22,355,3,22]
print(lst1)
print (type(lst1))

[12, 23, 45, 22, 355, 3, 22]
<class 'list'>

In [ ]:
#Tuple
# 1. Tuple is represented by circular breckets ()
# 2. Tuple is imutable
tup1= (1,2,3,4,5)
print (tup1)
print(type(tup1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
#Set
# 1. Set is combination of unique values (no duplicates)
# 2. Set is collection of unordered elements (random values)
# 3. Set is representated by curly brackets
# 4. Set is mutable
set1 = {2,4,6,7,2,6,4,'a','b','D'}
print(set1)
print(type(set1))

{2, 4, 6, 7, 'b', 'D', 'a'}
<class 'set'>

In [ ]:
lst2= [2,3,'a','g', 'John', True, '@', 300, 2, 'g', 'a']
tup2 = (2,3,'a',0,'g', 'John', ['@', 300, 2, 'g', False, 'a'])
set2 = {2,3, 4, 55, 0, 66,('a','g','John'), '@',True, 300, 2, 'g', 'a'}
print(lst2)
print(tup2)
print(set2)

print (type (lst2))
print (type (tup2))
print (type (set2))

[2, 3, 'a', 'g', 'John', True, '@', 300, 2, 'g', 'a']
(2, 3, 'a', 0, 'g', 'John', ['@', 300, 2, 'g', False, 'a'])
{0, True, 2, 3, 4, 66, 'g', 300, '@', 55, ('a', 'g', 'John'), 'a'}
<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
set2 = {True, 1, 0, False}
print(set2)

print (type (set2))

{0, True}
<class 'set'>

In [ ]:
#Dictionary
aa = {'a': 'apple', 'b': 'banana'}
print (aa)
print (type(aa))

{'a': 'apple', 'b': 'banana'}
<class 'dict'>

In [ ]:
dict1= {'count':[1,2,3], 'address': "12 King Street",
        'fruits': ('apple', 'banana', 'pear'), 'colors':{'Yellow', 'white'}}
print (dict1)
print(type(dict1))

{'count': [1, 2, 3], 'address': '12 King Street', 'fruits': ('apple', 'banana', 'pear'), 'colors': {'white', 'Yellow'}}
<class 'dict'>

In [ ]:
str3= 'John Smith'
print(str3)
print(len(str3))

John Smith
10

In [ ]:
print(str3[0])
print(str3[1])
print(str3[2])
print(str3[3])
print(str3[4])
print(str3[5])
print(str3[6])
print(str3[7])
print(str3[8])
print(str3[9])

print (str3[0:4:1], str3[5:10:1])

J
o
h
n

S
m
i
t
h
John Smith

In [ ]:
str5= "John, Jack, Micheal, Sam"
print(len(str5))
print(str5[0:4:1], str5[6:10:1], str5[12:19:1], str5[21:24:1])
print(str5[0:4:2], str5[6:10:2], str5[12:19:1], str5[21:24:1])
print(str5[0:4:3], str5[6:10:3], str5[12:19:3], str5[21:24:3])
print(str5[::])
print(str5[0:4:1])

24
John Jack Micheal Sam
Jh Jc Micheal Sam
Jn Jk Mhl S
John, Jack, Micheal, Sam
John

In [ ]:
str5[:len(str5):]

'John, Jack, Micheal, Sam'

In [ ]:
str5[:4:]

'John'

In [ ]:
str5[:10:]

'John, Jack'

In [ ]:
str5[:19:]

'John, Jack, Micheal'

In [ ]:
str5[::1]

'John, Jack, Micheal, Sam'

In [ ]:
str5[12:24:]

'Micheal, Sam'

In [ ]:
str5[21::]

'Sam'

In [ ]:
str5[:24:]

'John, Jack, Micheal, Sam'