<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/DataScienceBootCamp/Class%20Notes%20/Excertcise/BDS_15AUG_ClassWork_(for_loop_and_list).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2#Question 1) Remove all repeated elements from the list Given below using for loop.
a_lst=[1,2,3,4,5,11,1,2,6,1,8]
b_lst= list(set(a_lst))
print(b_lst)

[1, 2, 3, 4, 5, 6, 8, 11]

In [ ]:
a_lst=[1,2,3,4,5,11,1,2,6,1,8]
for k in a_lst:
  print(k)

1
2
3
4
5
11
1
2
6
1
8

In [ ]:
a_lst=[1,2,3,4,5,11,1,2,6,1,8]
for k in range(len(a_lst)):
   print(a_lst[k])

1
2
3
4
5
11
1
2
6
1
8

In [ ]:
a_lst=[1,2,3,4,5,11,1,2,6,1,8]
unique_list =[]
for k in a_lst:
  if k in unique_list:
    print('Repeated value: ', k)
  else:
    unique_list.append(k)
print (unique_list)

Repeated value:  1
Repeated value:  2
Repeated value:  1
[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
#Question 2) Print all prime numbers below 100
list_of_prime_numbers=[]
for k in range(2,100):
  flag=True
  for s in range(2,k):
    if k%s==0:
      flag=False
    break
  if flag:
      list_of_prime_numbers.append(k)

for primes in list_of_prime_numbers:
  print(primes, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
9 is a prime number
11 is a prime number
13 is a prime number
15 is a prime number
17 is a prime number
19 is a prime number
21 is a prime number
23 is a prime number
25 is a prime number
27 is a prime number
29 is a prime number
31 is a prime number
33 is a prime number
35 is a prime number
37 is a prime number
39 is a prime number
41 is a prime number
43 is a prime number
45 is a prime number
47 is a prime number
49 is a prime number
51 is a prime number
53 is a prime number
55 is a prime number
57 is a prime number
59 is a prime number
61 is a prime number
63 is a prime number
65 is a prime number
67 is a prime number
69 is a prime number
71 is a prime number
73 is a prime number
75 is a prime number
77 is a prime number
79 is a prime number
81 is a prime number
83 is a prime number
85 is a prime number
87 is a prime number
89 is a prime number
91 is a prime number
93 is a prime number
95 is a prime number
97 is a prime number
99 is a prime number

In [ ]:
#Question 3) print list in reverse order using for loop

a_lst=[1,2,3,4,5,6,7,8]
rev_a_lst=[]
for i in reversed(a_lst):
  rev_a_lst.append(i)
print(rev_a_lst)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a_lst=[1,2,3,4,5,6,7,8]
reverse_lst=[]
for k in range(len(a_lst)-1,-1,-1):
  reverse_lst.append(a_lst[k])
print(reverse_lst)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#same problem could be sloved like this
a_lst=[1,2,3,4,5,6,7,8]
print(a_lst[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Question 4)  print multiplication table of 13 using for loop
a=13
for i in range(10):
  i+=1
  print(i,'X',a,'=',(i*a))

1 X 13 = 13
2 X 13 = 26
3 X 13 = 39
4 X 13 = 52
5 X 13 = 65
6 X 13 = 78
7 X 13 = 91
8 X 13 = 104
9 X 13 = 117
10 X 13 = 130

In [ ]:
# Python program to find out digits in a number
num1= input('Enter a number')
b=str(num1)
print('The number of digits in the given numbe is ', len(b))

Enter a number33434075
The number of digits in the given numbe is  8

In [ ]:
# Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

In [ ]:
a=int(input("First Number "))
b=int(input("Second Number "))

smallest_number=min(a,b)

for k in range(smallest_number, -1,-1):
  if a%k==0 and b%k==0:
    print('The GCD IS ', k )
    break

First Number 333333
Second Number 3
The GCD IS  3

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*