<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Aug_15_For_Loop_traingle_rectangle_designs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For loop
lst1 =[12, 23, 34, 55, 64, 77, 88, 56, 98, 43,99]
for i in lst1:
  print('Value of i ', i)

Value of i  12
Value of i  23
Value of i  34
Value of i  55
Value of i  64
Value of i  77
Value of i  88
Value of i  56
Value of i  98
Value of i  43
Value of i  99

In [ ]:
tup1=('apple', 'banana', 'cherries', 'dates', 'pears')
for i in tup1:
  print ('Value of i ', i)

Value of i  apple
Value of i  banana
Value of i  cherries
Value of i  dates
Value of i  pears

In [ ]:
set1={'apple', 'banana', 'cherries', 'dates', 'pears',22, 45, 67, 78,22}
for i in set1:
  print ('Value of i ', i)

Value of i  67
Value of i  banana
Value of i  45
Value of i  78
Value of i  pears
Value of i  cherries
Value of i  dates
Value of i  22
Value of i  apple

In [ ]:
str1='Peppa prefer Python Programming'
for i in str1:
  print ('Value of i ', i)

Value of i  P
Value of i  e
Value of i  p
Value of i  p
Value of i  a
Value of i
Value of i  p
Value of i  r
Value of i  e
Value of i  f
Value of i  e
Value of i  r
Value of i
Value of i  P
Value of i  y
Value of i  t
Value of i  h
Value of i  o
Value of i  n
Value of i
Value of i  P
Value of i  r
Value of i  o
Value of i  g
Value of i  r
Value of i  a
Value of i  m
Value of i  m
Value of i  i
Value of i  n
Value of i  g

In [ ]:
dict1={'a':'apple', 'b':'ball', 'c':'cat', 'd':'dog'}
for i in dict1:
  print ('Value of i ', i)

Value of i  a
Value of i  b
Value of i  c
Value of i  d

In [ ]:
for i in range(10):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10,1):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10,2):
 print ('Value of i ', i)

Value of i  0
Value of i  2
Value of i  4
Value of i  6
Value of i  8

In [ ]:
# Creating a rectangle/square
# Loop through 10 rows
for i in range(10):
    # Loop through 10 columns
    for j in range(10):
        # Print a '*' followed by a space, without moving to the next line
        print("*", end=" ")
    # Move to the next line after printing a row of '*' and spaces
    print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
n=0
for i in range(0,10,1): # generating the 10 rowa
  for j in range(0,10,1):
    n +=1
    print(n, end=" ")
  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [3]:
# Outer loop for drawing rows from 0 to 9 (total 10 rows)

for i in range(10):  # Loop for rows, i varies from 0 to 9
    for j in range(10 - i):  # Loop for printing leading spaces, decreases with each row
        print(' ', end='')  # Print a space, end='' avoids newline
    for k in range(i + 1):  # Loop for printing stars, increases with each row
        print('*', end=' ')  # Print a star followed by a space
    print('\r')  # Move to the next line (row)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [14]:
for i in range(10):  # Loop for drawing 10 rows
    for j in range(0, 1 + i):  # Loop for columns, increasing from 1
      print(' ', end='')  # Print a space to create the desired pattern
    for k in range(0, 10 - i):  # Loop for coming down from 10 to 1
      print('*', end=' ')  # Print '*' to create the decreasing star pattern
    print('\r')  # Move to the next row after completing a row's pattern

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [15]:
# Pattern 1: Printing a decreasing triangle of stars
for i in range(9):  # Loop for the rows
    for j in range(0, 1 + i):  # Loop for printing leading spaces
        print(' ', end='')    # Print a space
    for k in range(0, 10 - i):  # Loop for printing stars
        print('*', end=' ')     # Print a star
    print('\r')  # Move to the next line after each row

# Pattern 2: Printing an increasing triangle of stars
for i in range(0, 10):  # Loop for the rows
    for j in range(0, 10 - i):  # Loop for printing leading spaces
        print(' ', end='')       # Print a space
    for k in range(0, i + 1):    # Loop for printing stars
        print('*', end=' ')      # Print a star
    print('\r')  # Move to the next line after each row

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
# Loop to draw the top half of the pattern
for i in range(0, 10):  # Loop through 10 rows
    for j in range(0, 10 - i):  # Loop to print leading spaces, decreasing from 10
        print(' ', end='')  # Print a space without a newline
    for k in range(0, i + 1):  # Loop to print stars, increasing from 1 to 10
        print('*', end=' ')  # Print a star followed by a space
    print('\r')  # Move to the next row (carriage return)

# Loop to draw the bottom half of the pattern
for i in range(10):  # Loop through 10 rows
    for j in range(0, 1 + i):  # Loop to print leading spaces, increasing from 1
        print(' ', end=' ')  # Print a space without a newline
    for k in range(0, 10 - i):  # Loop to print stars, decreasing from 10 to 1
        print('*', end=' ')  # Print a star followed by a space
    print('\r')  # Move to the next row (carriage return)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
# practice 1
for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
# practice 2
n=0
for i in range(10):
  for j in range(10):
    n+=1
    print(n, end=' ')
  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [16]:
# practice 3
for i in range(10): # creating 10 rows
  for j in range(0,i): # Columns increasing from 1 to 10
    print(' ', end='') # adding spaces
  for k in range(0,10-i): # decreasing from 10 to 1
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [17]:
# This code prints a 10x10 grid of asterisks (*) where the border is formed by asterisks
# and the interior is filled with spaces.

# Outer loop iterates through rows from 0 to 9.
for i in range(10):
    # Inner loop iterates through columns from 0 to 9.
    for j in range(10):
        # Check if the current position is on the border of the grid.
        # If the current row is the first (i == 0), last (i == 9), first column (j == 0),
        # or last column (j == 9), print an asterisk to form the border.
        if i == 0 or i == 10 - 1 or j == 0 or j == 10 - 1:
            print("*", end=" ")  # Print an asterisk with a space after it.
        else:
            print(" ", end=" ")  # Print a space with no asterisk.
    print()  # Move to the next line after printing a row.

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [20]:
#Creating hollow traingle
for i in range(10):  # Loop through 10 rows
    for j in range(10 - i):  # Draw spaces before the pattern
        print(' ', end='')  # Print a space without a newline
    for k in range(i + 1):  # Iterate from 1 to the current row number
        if k == 0 or k == i or i == 9:  # Check if it's an edge or base position
            print('*', end=' ')  # Print '*' at the edges and base
        else:
            print(' ', end=' ')  # Print spaces for the hollow part
    print('\r')  # Move to the next row

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *

In [ ]:
for i in range(10): # creating 10 rows
  for j in range(0,i): # Columns increasing from 1 to 10
    print('-', end='') # adding spaces
  for k in range(0,10-i): # decreasing from 10 to 1
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
-* * * * * * * * *
--* * * * * * * *
---* * * * * * *
----* * * * * *
-----* * * * *
------* * * *
-------* * *
--------* *
---------*

In [ ]:
#upright hollow triangle
for i in range(10):  # draw 10 rows
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and base
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *

In [ ]:

for i in range(9, -1, -1):  # draw 10 rows in reverse order
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and top
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

 * * * * * * * * * *
  *               *
   *             *
    *           *
     *         *
      *       *
       *     *
        *   *
         * *
          *

In [ ]:
# Loop to draw 10 rows in reverse order
for i in range(9, -1, -1):  # i represents the current row being drawn
    # Loop to draw leading spaces
    for j in range(10 - i):  # j represents the number of spaces to be drawn
        print(' ', end=' ')

    # Loop to draw pattern characters for the current row
    for k in range(i + 1):  # k represents the current position in the row
        if k == 0 or k == i or i == 9:  # Print '*' at edges and top
            print('*', end=' ')
        else:
            print(' ', end=' ')  # Print spaces for hollow part

    print('\r')  # Move to the next line after drawing the row

# Loop to draw 10 rows
for i in range(10):  # i represents the current row being drawn
    # Loop to draw leading spaces
    for j in range(10 - i):  # j represents the number of spaces to be drawn
        print(' ', end=' ')

    # Loop to draw pattern characters for the current row
    for k in range(i + 1):  # k represents the current position in the row
        if k == 0 or k == i or i == 9:  # Print '*' at edges and base
            print('*', end=' ')
        else:
            print(' ', end=' ')  # Print spaces for hollow part

    print('\r')  # Move to the next line after drawing the row

 * * * * * * * * * *
  *               *
   *             *
    *           *
     *         *
      *       *
       *     *
        *   *
         * *
          *
          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *

In [ ]:
for rows in range(0,10):
    for j in range(0,rows):
      print('', end=' ')
    for k in range(0,10-rows):
      print('*', end=' ')
    print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [24]:
for rows in range(0,10): # 10 rows
    for j in range(0, 10-rows): #
      print(' ', end='')
    for k in range(0, rows):
      print('*', end=' ')
    print('\r')

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *