<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Aug_15_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For loop
lst1 =[12, 23, 34, 55, 64, 77, 88, 56, 98, 43,99]
for i in lst1:
  print('Value of i ', i)

Value of i  12
Value of i  23
Value of i  34
Value of i  55
Value of i  64
Value of i  77
Value of i  88
Value of i  56
Value of i  98
Value of i  43
Value of i  99

In [ ]:
tup1=('apple', 'banana', 'cherries', 'dates', 'pears')
for i in tup1:
  print ('Value of i ', i)

Value of i  apple
Value of i  banana
Value of i  cherries
Value of i  dates
Value of i  pears

In [ ]:
set1={'apple', 'banana', 'cherries', 'dates', 'pears',22, 45, 67, 78,22}
for i in set1:
  print ('Value of i ', i)

Value of i  67
Value of i  banana
Value of i  45
Value of i  78
Value of i  pears
Value of i  cherries
Value of i  dates
Value of i  22
Value of i  apple

In [ ]:
str1='Peppa prefer Python Programming'
for i in str1:
  print ('Value of i ', i)

Value of i  P
Value of i  e
Value of i  p
Value of i  p
Value of i  a
Value of i
Value of i  p
Value of i  r
Value of i  e
Value of i  f
Value of i  e
Value of i  r
Value of i
Value of i  P
Value of i  y
Value of i  t
Value of i  h
Value of i  o
Value of i  n
Value of i
Value of i  P
Value of i  r
Value of i  o
Value of i  g
Value of i  r
Value of i  a
Value of i  m
Value of i  m
Value of i  i
Value of i  n
Value of i  g

In [ ]:
dict1={'a':'apple', 'b':'ball', 'c':'cat', 'd':'dog'}
for i in dict1:
  print ('Value of i ', i)

Value of i  a
Value of i  b
Value of i  c
Value of i  d

In [ ]:
for i in range(10):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10,1):
 print ('Value of i ', i)

Value of i  0
Value of i  1
Value of i  2
Value of i  3
Value of i  4
Value of i  5
Value of i  6
Value of i  7
Value of i  8
Value of i  9

In [ ]:
for i in range(0,10,2):
 print ('Value of i ', i)

Value of i  0
Value of i  2
Value of i  4
Value of i  6
Value of i  8

In [ ]:
for i in range(10): #generating 10 rows
  for j in range(10): # generating 10 columns
    print("*", end=" ") # adding * and space
  print('\r') # changing the rows

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
n=0
for i in range(0,10,1): # generating the 10 rowa
  for j in range(0,10,1):
    n +=1
    print(n, end=" ")
  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(10): # draw 10 rows
  for j in range(10-i): # draws 10 column decreasing from 10
    print(' ', end='') # putting space
  for k in range(i+1): # starting from 1 to 10
    print('*', end=' ') # printing *
  print('\r') # changeing the row

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range(10): # draws 10 rows
  for j in range(0,1+i): # columns increasing from 1
    print('', end=' ') #putting the space
  for k in range(0,10-i): # coming down from 10 to 1
    print('*', end=' ') # additng *
  print('\r') # changing row

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
for i in range(9):
  for j in range(0,1+i):
    print('', end=' ')
  for k in range(0,10-i):
    print('*', end=' ')
  print('\r')
for i in range(0,10): # draw 10 rows
  for j in range(0,10-i): # draws 10 column decreasing from 10
    print(' ', end='') # putting space
  for k in range(0,i+1): # starting from 1 to 10
    print('*', end=' ') # printing *
  print('\r') # changeing the row

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range(0,10): # draw 10 rows
  for j in range(0,10-i): # draws 10 column decreasing from 10
    print(' ', end='') # putting space
  for k in range(0,i+1): # starting from 1 to 10
    print('*', end=' ') # printing *
  print('\r') # changeing the row

for i in range(10):
  for j in range(0,1+i):
    print('', end=' ')
  for k in range(0,10-i):
    print('*', end=' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
# practice 1
for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
# practice 2
n=0
for i in range(10):
  for j in range(10):
    n+=1
    print(n, end=' ')
  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [75]:
# practice 3
for i in range(10): # creating 10 rows
  for j in range(0,i): # Columns increasing from 1 to 10
    print(' ', end='') # adding spaces
  for k in range(0,10-i): # decreasing from 10 to 1
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
for i in range(10):
    for j in range(10):
        if i == 0 or i == 10 - 1 or j == 0 or j == 10 - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [77]:
for i in range(10):  # draw 10 rows
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and base
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *

In [74]:
for i in range(10): # creating 10 rows
  for j in range(0,i): # Columns increasing from 1 to 10
    print('-', end='') # adding spaces
  for k in range(0,10-i): # decreasing from 10 to 1
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
-* * * * * * * * *
--* * * * * * * *
---* * * * * * *
----* * * * * *
-----* * * * *
------* * * *
-------* * *
--------* *
---------*

In [78]:
#upright hollow triangle
for i in range(10):  # draw 10 rows
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and base
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *

In [89]:

for i in range(9, -1, -1):  # draw 10 rows in reverse order
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and top
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

 * * * * * * * * * *
  *               *
   *             *
    *           *
     *         *
      *       *
       *     *
        *   *
         * *
          *

In [104]:
for i in range(9, -1, -1):  # draw 10 rows in reverse order
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and top
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

for i in range(10):  # draw 10 rows
    for j in range(10 - i):  # draws spaces
        print('', end=' ')
    for k in range(i + 1):  # starting from 1 to 10
        if k == 0 or k == i or i == 9:  # print '*' at edges and base
            print('*', end=' ')
        else:
            print(' ', end=' ')  # print spaces for hollow part
    print('\r')  # change row

 * * * * * * * * * *
  *               *
   *             *
    *           *
     *         *
      *       *
       *     *
        *   *
         * *
          *
          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 * * * * * * * * * *