<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Homework_15_Aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Question 1) Remove all repeated elements from the list Given below using for loop.
a_lst=[1,2,3,4,5,11,1,2,6,1,8]
b_lst= list(set(a_lst))
print(b_lst)

[1, 2, 3, 4, 5, 6, 8, 11]

In [15]:
#Question 2) Print all prime numbers below 100

In [36]:
#Question 3) print list in reverse order using for loop

a_lst=[1,2,3,4,5,6,7,8]
rev_a_lst=[]
for i in reversed(a_lst):
  rev_a_lst.append(i)
print(rev_a_lst)

[8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
#same problem could be sloved like this
a_lst=[1,2,3,4,5,6,7,8]
print(a_lst[::-1])

In [38]:
#Question 4)  print multiplication table of 13 using for loop
a=13
for i in range(10):
  i+=1
  print(i,'X',a,'=',(i*a))

1 X 13 = 13
2 X 13 = 26
3 X 13 = 39
4 X 13 = 52
5 X 13 = 65
6 X 13 = 78
7 X 13 = 91
8 X 13 = 104
9 X 13 = 117
10 X 13 = 130