<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Object_oriented_programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creating class
class Abcd:
  pass

objt1= Abcd()
print(type(objt1))

<class '__main__.Abcd'>

In [ ]:
class university_student:
  def student_info():
    name= 'John'

In [ ]:
obj1 = university_student()

In [ ]:
# Step 1: Define the Class
class ToyRobot:
    pass
# This creates a class named ToyRobot. Think of it as a blueprint.

# Step 2: Add the __init__ Method
class ToyRobot:
    def __init__(self):
        # This special method is like instructions for setting up the robot.
        # It runs automatically when a new object is created.
        self.color = "Red"   # The robot's color is set to "Red" initially.
        self.power = "Battery"  # The robot's power source is set to "Battery" initially.
# Create a toy robot object
my_robot = ToyRobot()

# Access the properties
print("Robot color:", my_robot.color)  # This prints the robot's color, which is "Red".
print("Robot power:", my_robot.power)  # This prints the robot's power source, which is "Battery".

Robot color: Red
Robot power: Battery

In [ ]:
class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname = fname
    self.mname= mname
    self.lname=lname
    self.gender=gender
    self.email= email
    self.contact= contact

  def stud_details(self):
    print(self.fname, self.mname, self.lname,self.gender, self.email, self.email, self.contact )

In [ ]:
obj1 = university_student('Kin', "Zin", "Anto", 'm', 'kin.anto@firstmail.com', 9876)

In [ ]:
obj1.stud_details()

Kin Zin Anto m kin.anto@firstmail.com kin.anto@firstmail.com 9876

In [ ]:
print(type(obj1))

<class '__main__.university_student'>

In [ ]:
# Define a class named "Address"
class Address:
    def __init__(self, unit_num, house_num, street_name, city, zip_code, country):
        # The "__init__" method is a special method that runs automatically when an object is created.
        # It initializes the object's attributes (properties) with the provided values.
        self.unit_num = unit_num       # Set the unit number attribute
        self.house_num = house_num     # Set the house number attribute
        self.street_name = street_name # Set the street name attribute
        self.city = city               # Set the city attribute
        self.zip_code = zip_code       # Set the zip code attribute
        self.country = country         # Set the country attribute

        # Print the address components for demonstration
        print("Address:", self.unit_num, self.house_num, self.street_name, self.city, self.zip_code, self.country)

# Creating an Address object
# Here, you provide values for each attribute to create a new address.
# This will call the "__init__" method automatically to set up the object.
my_address = Address("Apt 123", "456", "Main Street", "Cityville", "12345", "Countryland")

# Note: This line will print the address components due to the "print" statement in the "__init__" method.
# In practice, you might not want to have this "print" statement inside the class.

Address: Apt 123 456 Main Street Cityville 12345 Countryland

In [ ]:
your_address = Address( 'Apt 3', 204, 'First Street', 'Madison', 53721, 'USA')

Address: Apt 3 204 First Street Madison 53721 USA

In [ ]:
class Course_info:
  def __init__ (self, title, duration, cost):
    self.title = title
    self.duration= duration
    self.cost = cost

  def course_detatils(self):
    print ("Course details:", 'Title:', self.title, ', Course length:', self.duration, ', Full cost: ', self.cost)

In [ ]:
datsc = Course_info("Data Science", '14 Weeks', "$2000")

In [ ]:
datsc.course_detatils()

Course details: Title: Data Science , Course length: 14 Weeks , Full cost:  $2000

In [ ]:
class Car:
  def __init__(self, name, model, fuel, cc, cylinders):
    self.name= name
    self.model = model
    self.fuel = fuel
    self.cc = cc
    self.cylinders = cylinders
  def car_details(self):
   print(self.name, self.model, self.fuel, self.cc, self.cylinders)

In [ ]:
obj1= Car('Tesla','X', 'Electric', 3500, 4)

In [ ]:
obj1.car_details()

Tesla X Electric 3500 4

In [ ]:
class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [ ]:
class childclass(person):
  pass

In [ ]:
obj2 = childclass('Gov','Poudel')

In [ ]:
obj2.printname()

Gov   Poudel

In [ ]:
# Define the base class 'person'
class person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print('class person:', self.firstname, self.lastname)

In [ ]:

# Define the child class 'childclass' that inherits from 'person'
class childclass(person):
    def __init__(self, fname, lname, address):  # Include fname and lname as parameters
        # Call the parent class's constructor using 'super()' to set the first and last name
        super().__init__(fname, lname)
        self.address = address

    def address1(self):
        print(self.address)

In [ ]:
# Create an instance of the base class 'person'
obj1 = person('John', 'Smith')

In [ ]:
# Create an instance of the child class 'childclass'
obj2 = childclass('John', 'Smith', '22, ABC Street, NY 5088')  # Provide fname, lname, and address

In [ ]:
# Call the 'printname' method of the base class
obj1.printname()

class person: John Smith

In [ ]:
# Call the 'printname' method of the child class (inherited from base class)
obj2.printname()

class person: John Smith

In [ ]:
# Call the 'address1' method of the child class
obj2.address1()

22, ABC Street, NY 5088

In [ ]:
class car:
  def __init__ (self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('class car: ', self.name, self.model)

In [ ]:
class audi(car):
  def __init__(self, name, model, make):
    super().__init__(name, model)
    self.make = make

  def print1 (self):
    print(self.name, self.model, self.make)

In [ ]:
obj1 = audi ('Audi 777', 777, 1978)

In [ ]:
obj1.print1()

Audi 777 777 1978

In [ ]:
class car:
  def __init__ (self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('class car: ', self.name, self.model)

In [ ]:
class toyota(car):
  def __init__(self, name, model, make, color):
    super().__init__(name, model)
    self.make = make
    self.color= color

  def print1 (self):
    print(self.name, self.model, self.make, self.color)

In [ ]:
obj1 = toyota( 'Toyota', 'camry', 2018, 'blue')

In [ ]:
obj1.print1()

Toyota camry 2018 blue

In [ ]:
obj2 = car('Toyota', 'camry')
obj2.print_details()

class car:  Toyota camry