<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Assignments/BDS35_20SEP_Retail_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

df = pd.read_csv('Online_Retail.csv', encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
129993,547399,85099B,JUMBO BAG RED RETROSPOT,4.0,3/22/11 16:55,4.13,NaN,United Kingdom
129994,547399,85099C,JUMBO BAG BAROQUE BLACK WHITE,3.0,3/22/11 16:55,4.13,NaN,United Kingdom
129995,547399,DOT,DOTCOM POSTAGE,1.0,3/22/11 16:55,155.25,NaN,United Kingdom
129996,547399,15056n,EDWARDIAN PARASOL NATURAL,1.0,3/22/11 16:55,12.46,NaN,United Kingdom
129997,547399,20676,RED RETROSPOT,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.describe()

            Quantity      UnitPrice    CustomerID
count  129997.000000  129997.000000  87771.000000
mean        8.863028       5.241931  15303.257853
std       296.374068     109.199140   1737.656689
min    -74215.000000       0.000000  12346.000000
25%         1.000000       1.250000  13898.000000
50%         3.000000       2.460000  15234.000000
75%         9.000000       4.210000  16889.000000
max     74215.000000   16888.020000  18283.000000

In [ ]:
df.shape

(129998, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129998 entries, 0 to 129997
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    129998 non-null  object
 1   StockCode    129998 non-null  object
 2   Description  129635 non-null  object
 3   Quantity     129997 non-null  float64
 4   InvoiceDate  129997 non-null  object
 5   UnitPrice    129997 non-null  float64
 6   CustomerID   87771 non-null   float64
 7   Country      129997 non-null  object
dtypes: float64(3), object(5)
memory usage: 7.9+ MB

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
#1. Clean the dataset look and study the dataset for this part

In [ ]:
df2= df.dropna().drop_duplicates()
df2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
129785,547390,22701,PINK DOG BOWL,6.0,3/22/11 16:08,2.95,12352.0,Norway
129786,547390,22645,CERAMIC HEART FAIRY CAKE MONEY BANK,12.0,3/22/11 16:08,1.45,12352.0,Norway
129787,547390,22413,METAL SIGN TAKE IT OR LEAVE IT,6.0,3/22/11 16:08,2.95,12352.0,Norway
129788,547390,21914,BLUE HARMONICA IN BOX,12.0,3/22/11 16:08,1.25,12352.0,Norway
129789,547391,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,24.0,3/22/11 16:32,2.95,14735.0,United Kingdom

In [ ]:
df3 = df2[df['Quantity'] >= 0]

df3['StockCode']= df['StockCode'].str.replace('POST', '')

<ipython-input-53-e0be667c9cf1>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[df['Quantity'] >= 0]
<ipython-input-53-e0be667c9cf1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['StockCode']= df['StockCode'].str.replace('POST', '')

In [ ]:
#2. Create a Dictionary with the 10 countries that have the most 'Quantity' ordered except UK

In [ ]:
df4=df3[df3['Country'] != 'United Kingdom']
df4

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24.0,12/1/10 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24.0,12/1/10 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12.0,12/1/10 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12.0,12/1/10 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24.0,12/1/10 8:45,0.65,12583.0,France
...,...,...,...,...,...,...,...,...
129784,547390,22784,LANTERN CREAM GAZEBO,3.0,3/22/11 16:08,4.95,12352.0,Norway
129785,547390,22701,PINK DOG BOWL,6.0,3/22/11 16:08,2.95,12352.0,Norway
129786,547390,22645,CERAMIC HEART FAIRY CAKE MONEY BANK,12.0,3/22/11 16:08,1.45,12352.0,Norway
129787,547390,22413,METAL SIGN TAKE IT OR LEAVE IT,6.0,3/22/11 16:08,2.95,12352.0,Norway
129788,547390,21914,BLUE HARMONICA IN BOX,12.0,3/22/11 16:08,1.25,12352.0,Norway

In [ ]:
# Country which ordered most quantity
country_max_quantity = df4.groupby('Country')['Quantity'].max()

top_10_countries = country_max_quantity.sort_values(ascending=False).head(10)

dictionary_of_most_ordered_countries = top_10_countries.to_dict()

print(dictionary_of_most_ordered_countries)

{'Japan': 1488.0, 'Netherlands': 1440.0, 'EIRE': 1440.0, 'Sweden': 768.0, 'France': 576.0, 'Australia': 576.0, 'Channel Islands': 407.0, 'Spain': 360.0, 'Cyprus': 288.0, 'Germany': 288.0}

In [ ]:

#3. Find Total Sale between two dates entered

df3['Sales'] = df3['Quantity'] * df3['UnitPrice'] # Creating new column named 'Sales'

df3['InvoiceDate'] = pd.to_datetime(df3['InvoiceDate']) #date conversion

date1 = input("Enter your date1 (M/D/Y): ")
date2 = input("Enter your date2 (M/D/Y): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

sales_between_dates = df3[(df3['InvoiceDate'] >= date1) & (df3['InvoiceDate'] <= date2)]

total_sales_between_dates = sales_between_dates['Sales'].sum()

print('Total sales between', date1.date(), 'and', date2.date(), '=', total_sales_between_dates)

In [ ]:
# 4. Find each Countries Total SALE to find which Countries are highest potential customer

In [ ]:
country_sales = df3.groupby('Country')['Sales'].sum()
country_sales.sort_values(ascending = False)

Country
United Kingdom          1597318.46
EIRE                      60630.73
Netherlands               59205.99
Germany                   51583.76
Australia                 41616.22
France                    41314.21
Spain                     16821.06
Japan                     13534.78
Sweden                    12352.80
Portugal                   9279.77
Switzerland                8630.35
Cyprus                     7407.20
Finland                    7365.40
Belgium                    7091.02
Channel Islands            6333.15
Norway                     5683.33
Denmark                    5659.71
Italy                      4951.32
Greece                     3048.55
Singapore                  2053.07
Poland                     1783.21
Lebanon                    1693.88
Lithuania                  1661.06
Iceland                    1187.18
Austria                     961.60
United Arab Emirates        889.24
Israel                      779.10
Czech Republic              549.26
Saudi Arabia                145.92
Canada                      140.54
Name: Sales, dtype: float64

In [ ]:
# 5. Which Customer Id has highest purchase in quantity and total and find out the country of it

highest_quantity =  df3.groupby('CustomerID')['Quantity'].sum()
highest_quantity.sort_values(ascending= False)

CustomerID
12346.0    74215.0
14646.0    43288.0
12415.0    23414.0
13694.0    18614.0
17511.0    16533.0
            ...
15823.0        1.0
16692.0        1.0
16554.0        1.0
16500.0        1.0
13452.0        1.0
Name: Quantity, Length: 2003, dtype: float64

In [ ]:
df3[df3['CustomerID'] == 12346.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
#Total sale

In [ ]:
highest_sales = df3.groupby('CustomerID')['Sales'].sum()
highest_sales.sort_values(ascending = False)

CustomerID
12346.0    77183.60
14646.0    57866.02
18102.0    39766.09
12415.0    37842.74
14156.0    35481.87
             ...
15885.0       15.00
16882.0        9.90
16692.0        8.50
16738.0        3.75
16554.0        0.85
Name: Sales, Length: 2003, dtype: float64

In [ ]:
df3[df3['CustomerID'] == 12346.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
# 6. Which Customer Id has lowest purchase in quantity and total and find out the country of it
lowest_quantity = df3.groupby('CustomerID')['Quantity'].sum()
lowest_quantity.sort_values().head(10)

CustomerID
15823.0    1.0
13145.0    1.0
15885.0    1.0
13452.0    1.0
16554.0    1.0
16692.0    1.0
16500.0    1.0
15510.0    2.0
16882.0    2.0
17867.0    2.0
Name: Quantity, dtype: float64

In [ ]:
df3[df3['CustomerID'] == 13145.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
df3[df3['CustomerID'] == 15823.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
df3[df3['CustomerID'] == 16554.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
df3[df3['CustomerID'] == 13452.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
df3[df3['CustomerID'] == 16692.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
df3[df3['CustomerID'] == 16500.0]['Country'].iloc[0] # Country

'United Kingdom'

In [ ]:
lowest_sales = df3.groupby('CustomerID')['Sales'].sum()
lowest_sales.sort_values()

CustomerID
16554.0        0.85
16738.0        3.75
16692.0        8.50
16882.0        9.90
17763.0       15.00
             ...
14156.0    35481.87
12415.0    37842.74
18102.0    39766.09
14646.0    57866.02
12346.0    77183.60
Name: Sales, Length: 2003, dtype: float64

In [ ]:
df3[df3['CustomerID'] == 16554.0]['Country'].iloc[0]

'United Kingdom'

In [ ]:
#7) Find the biggest order In Sale (Cost) which country was the order from and find total purchase (Cost) done by that customer ID

In [ ]:
biggest_order = df3['Sales'].max()
biggest_order

77183.6

In [ ]:
df3[df3['Sales'] == 77183.6]['Country'].iloc[0]

'United Kingdom'

In [ ]:
df3[df3['Sales'] == 77183.6]['CustomerID'].iloc[0]

12346.0

In [ ]:
df3[df3['CustomerID'] == 12346.0]['Sales'].sum()

77183.6

In [ ]:
#8) Find how many different customers are available for each country save the count in dictionary also return countries with highest and lowest customer count

In [ ]:
dictionary_customers_per_country={}

for k in set(df3.Country):
  dictionary_customers_per_country[k]= df3.CustomerID[df3['Country']==k].count()

print(dictionary_customers_per_country)

{'Lebanon': 45, 'Australia': 339, 'United Kingdom': 74749, 'Netherlands': 537, 'Channel Islands': 239, 'Canada': 10, 'Switzerland': 314, 'Finland': 244, 'Greece': 54, 'Belgium': 365, 'Israel': 16, 'France': 1810, 'Norway': 202, 'Portugal': 347, 'Austria': 33, 'Saudi Arabia': 9, 'EIRE': 1276, 'Japan': 166, 'Iceland': 60, 'Cyprus': 302, 'United Arab Emirates': 30, 'Lithuania': 35, 'Poland': 70, 'Spain': 681, 'Italy': 230, 'Singapore': 56, 'Denmark': 59, 'Czech Republic': 15, 'Germany': 2021, 'Sweden': 100}

In [ ]:

highest_custom_count = max(dictionary_customers_per_country, key=dictionary_customers_per_country.get)

highest_custom_count

'United Kingdom'

In [ ]:
lowest_custom_count = min(dictionary_customers_per_country, key=dictionary_customers_per_country.get)

lowest_custom_count

'Saudi Arabia'

In [ ]:
#9) Find which stock code was ordered the most by each country

In [ ]:
most_ordered_stock_per_country = {}

for country in set(df3.Country):

    filtered_df = df3[df3['Country'] == country]

    most_ordered_stock = filtered_df.groupby('StockCode')['StockCode'].count().idxmax()

    most_ordered_stock_per_country[country] = most_ordered_stock

print(most_ordered_stock_per_country)

{'Lebanon': '21165', 'Australia': '22960', 'United Kingdom': '85123A', 'Netherlands': '', 'Channel Islands': '20685', 'Canada': '20886', 'Switzerland': '', 'Finland': '', 'Greece': '15034', 'Belgium': '', 'Israel': '20719', 'France': '', 'Norway': '84050', 'Portugal': '', 'Austria': '', 'Saudi Arabia': '20781', 'EIRE': 'C2', 'Japan': '21210', 'Iceland': '21731', 'Cyprus': '22804', 'United Arab Emirates': '20961', 'Lithuania': '20967', 'Poland': '21232', 'Spain': '', 'Italy': '', 'Singapore': '20681', 'Denmark': '', 'Czech Republic': '20972', 'Germany': '', 'Sweden': '22530'}