<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Class%20Notes/Notes/BD35_11SEP_EDA%2C_LAMDA_%26_LIST_COMPREHENSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#importing the dataset
path = 'https://raw.githubusercontent.com/gitanuurage/EDA/main/blackFriday_train.csv'
df_train=pd.read_csv(path)
df_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [ ]:
df_train.shape

(550068, 12)

In [ ]:
df_train.size

6600816

In [ ]:
df_train.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [ ]:
df_train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [ ]:
df_train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [ ]:
df_train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [ ]:
for features in df_train.columns:
  print (features)

User_ID
Product_ID
Gender
Age
Occupation
City_Category
Stay_In_Current_City_Years
Marital_Status
Product_Category_1
Product_Category_2
Product_Category_3
Purchase

In [ ]:
for features in df_train.columns:
  if df_train[features].isnull().sum()>0:
    print(features)

Product_Category_2
Product_Category_3

In [ ]:
##  import the test data
path = 'https://raw.githubusercontent.com/gitanuurage/EDA/main/blackFriday_test.csv'
df_test=pd.read_csv(path)
df_test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [ ]:
df_test.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [ ]:
df_test.shape

(233599, 11)

In [ ]:
df_test.size

2569589

In [ ]:
df_test.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
count,2.335990e+05,233599.000000,233599.000000,233599.000000,161255.000000,71037.000000
mean,1.003029e+06,8.085407,0.410070,5.276542,9.849586,12.669454
std,1.726505e+03,6.521146,0.491847,3.736380,5.094943,4.125944
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000
25%,1.001527e+06,2.000000,0.000000,1.000000,5.000000,9.000000
50%,1.003070e+06,7.000000,0.000000,5.000000,9.000000,14.000000
75%,1.004477e+06,14.000000,1.000000,8.000000,15.000000,16.000000
max,1.006040e+06,20.000000,1.000000,18.000000,18.000000,18.000000

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  int64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [ ]:
df_test.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [ ]:
df_test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [ ]:
x = (df_test.size/df_train.size)*100
x

38.92835370657204

In [ ]:
for features in df_test.columns:
  print(features)

User_ID
Product_ID
Gender
Age
Occupation
City_Category
Stay_In_Current_City_Years
Marital_Status
Product_Category_1
Product_Category_2
Product_Category_3

In [ ]:
for features in df_test.columns:
  if df_test[features].isnull().sum()>0:
    print(features)

Product_Category_2
Product_Category_3

In [ ]:
# Merge both train and test data
df=df_train.append(df_test)
df.head()

<ipython-input-52-5ab4dd062b80>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df_train.append(df_test)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

In [ ]:
df.size, df.shape, df.columns

(9404004,
 (783667, 12),
 Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
        'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
        'Product_Category_2', 'Product_Category_3', 'Purchase'],
       dtype='object'))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 233598
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     783667 non-null  int64
 1   Product_ID                  783667 non-null  object
 2   Gender                      783667 non-null  object
 3   Age                         783667 non-null  object
 4   Occupation                  783667 non-null  int64
 5   City_Category               783667 non-null  object
 6   Stay_In_Current_City_Years  783667 non-null  object
 7   Marital_Status              783667 non-null  int64
 8   Product_Category_1          783667 non-null  int64
 9   Product_Category_2          537685 non-null  float64
 10  Product_Category_3          237858 non-null  float64
 11  Purchase                    550068 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 77.7+ MB

In [ ]:
df.drop(['User_ID'], axis=1, inplace=True)

In [ ]:
df

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [ ]:
df.Gender

0         F
1         F
2         F
3         F
4         M
         ..
233594    F
233595    F
233596    F
233597    F
233598    F
Name: Gender, Length: 783667, dtype: object

In [ ]:
df['Gender']

In [ ]:
df['Gender'] = pd.get_dummies(df['Gender'], drop_first =1)

df

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,0,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,P00248942,0,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,P00087842,0,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,P00085442,0,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,P00285442,1,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,P00118942,0,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,P00254642,0,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,P00031842,0,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,P00124742,0,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,P00316642,0,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [ ]:
df['Gender'] = df['Gender'].map({'F':0, 'M':1})
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,NaN,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,P00248942,NaN,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,P00087842,NaN,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,P00085442,NaN,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,P00285442,NaN,55+,16,C,4+,0,8,NaN,NaN,7969.0

# Python Lambda Functions #

In [ ]:
 x = lambda a: a + 10
 print (x(10))

20

In [ ]:
x = lambda a, b: a*b+10
print(x(2, 8))

26

In [ ]:
x = lambda a, b, c : a*b*c
print(x (3, 6, 9))

162

In [ ]:
Max = lambda a,b : a if(a>b) else b
print(Max(12, 121))

121

In [3]:
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")
#\is for change of line

print(result(12, 11))
print(result(12, 12))
print(result(12, 13))

12 is greater than 11
12 is equal to 12
12 is smaller than 13

In [30]:
result = lambda x: f"{x} pass with first class distinction"if x >=78\
                  else (f"{x} pass with first class" if x >=60\
                  else (f'{x} pass with second class' if x >=40\
                  else (f'{x} pass with third class' if x >=33\
                  else (f'{x} better luck next time'))))

In [31]:
print (result(92))
print (result(68))
print (result(45))
print (result(33))
print (result(25))

92 pass with first class distinction
68 pass with first class
45 pass with second class
33 pass with third class
25 better luck next time

In [32]:
def func_sum(a, b):
  return a+b

In [33]:
def func_sum(a,b, c):
  return a+b+c

In [37]:
def func_sum(*arg):
  return arg

In [41]:
func_sum (12,3,5,6,7,8,9,3,4,5)

(12, 3, 5, 6, 7, 8, 9, 3, 4, 5)

In [57]:
def func_sum(*gp):
  sum=0
  for i in gp:
      sum+=i
      print(sum)

In [71]:
func_sum(30, 20, 50, 100, 200, 400)

30
50
100
200
400
800

In [73]:
def func_sum(a, b, c, *args): # args (Non-Keyword Arguments)
  return a+b+c+(sum(args))

In [74]:
func_sum(12, 23, 34, 45, 67, 34, 23)

238

In [75]:
def func_sum(*args, a, b, c): # *args has to be at the end otherwise it takes all the position and the fucntion neve reach the values beyond args
  return a+b+c+(sum(args))

In [77]:
func_sum(12, 23, 34, 45, 67, 34, 23)

TypeError: ignored

In [78]:
def func_sum(*args):
  return args

In [79]:
func_sum(12,23,34,45,56,67,78,89,90,101)

(12, 23, 34, 45, 56, 67, 78, 89, 90, 101)

In [80]:
func_sum([12,23,34],(45,56,67),78,89,90,101)

([12, 23, 34], (45, 56, 67), 78, 89, 90, 101)

In [81]:
func_sum({12,23,34,45,56},67,78,89,90,101)

({12, 23, 34, 45, 56}, 67, 78, 89, 90, 101)

In [83]:
func_sum({'a':12,'b':23,'c':34,'d':45,'e':56},67,78,89,90,101)

({'a': 12, 'b': 23, 'c': 34, 'd': 45, 'e': 56}, 67, 78, 89, 90, 101)

In [87]:
def func_sum(*args):
  return args

In [89]:
func_sum('Apple','Book','Dog','House')

('Apple', 'Book', 'Dog', 'House')

In [91]:
func_sum ({'a':'Apple', 'b': 'Banana', 'c':'Coconut'})

({'a': 'Apple', 'b': 'Banana', 'c': 'Coconut'},)

In [93]:
func_sum ([1,2,3], [2,3,4], [4,5,6])

([1, 2, 3], [2, 3, 4], [4, 5, 6])

In [96]:
func_sum (1, 2, 3, 'ABC', (3,6,9), [1,2,3], {'abc': 'ABCD'})

(1, 2, 3, 'ABC', (3, 6, 9), [1, 2, 3], {'abc': 'ABCD'})

In [97]:
func_sum ("This is crazy", "args takes anything")

('This is crazy', 'args takes anything')

In [98]:
def func_sum(**kwargs):
  return kwargs

In [118]:
func_sum(fname="Govinda", mname ='P', lname ="Poudel")

{'fname': 'Govinda', 'mname': 'P', 'lname': 'Poudel'}

In [108]:
def EmployeeDetails(**kwargs):
  return kwargs

In [110]:
EmployeeDetails(name ="ABCD", position ="Data Scientist", age ="25", salary = 120000)

{'name': 'ABCD', 'position': 'Data Scientist', 'age': '25', 'salary': 120000}

In [116]:
def EmployeeDetails1(**args):
  return args

In [119]:
EmployeeDetails1(name ="ABCD", position ="Data Scientist", age ="25", salary = 120000)

{'name': 'ABCD', 'position': 'Data Scientist', 'age': '25', 'salary': 120000}

In [120]:
def EmployeeDetails(*args, **kwargs):
  return (args, kwargs)

In [121]:
EmployeeDetails(2,4, 6, fname="ABCD",lname="XYZ" )

((2, 4, 6), {'fname': 'ABCD', 'lname': 'XYZ'})

In [123]:
def EmployeeDetails(**kwargs, *args):
  return (kwargs, args)

SyntaxError: ignored

In [ ]:
def EmployeeDetails(*args, **kwargs):
  return (args, kwargs)

In [128]:
EmployeeDetails(2,4, 6, 7, 8,9,10,11, a= 'Apple')

((2, 4, 6, 7, 8, 9, 10, 11), {'a': 'Apple'})

In [ ]:
for i in range(10):
  str1=[]
  if i%2==0:
    str1.append(i)

In [ ]:
def abc(*args, a, **kwargs):
    return (args, a, kwargs)

In [135]:
abc(2,4,5, 6, a="apple")

TypeError: ignored

In [136]:
def abc(*args, **kwargs, a):
    return (args, kwargs,a)

SyntaxError: ignored

In [137]:
abc(2,4,5, 6, a="apple", 5)

SyntaxError: ignored

In [139]:
def abc(a,*args,**kwargs):
    return (a, args, kwargs)

In [141]:
abc(2,True,5, 6, a="apple")

TypeError: ignored