<a href="https://colab.research.google.com/github/gplinkage/Data-Science-AI/blob/main/Class%20Notes/Notes/Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Data Type**

      1. Standard Data Type
        1. Numbers
          1. Integer
          2. Float
          3. Complex
        2. Boolean
        3. String
      2. Data Structure Data Type
        1. List
        2. Tuple
        3. Set
        4. Dictionary

In [2]:
# Integer : Any whole number (+ve or -ve) is called as integer
int1= 1999
print(int1)
print(type(int1))

int1= -1999
print(int1)
print(type(int1))

1999
<class 'int'>
-1999
<class 'int'>

In [3]:
# Float : Any combination of whole number and fractional number (+ve or -ve) is called as float.

flt1= 4.342
print(flt1)
print(type(flt1))

flt1= -4.342
print(flt1)
print(type(flt1))

4.342
<class 'float'>
-4.342
<class 'float'>

In [11]:
# Complex : Combination of integer or float and imagenary number (+ve or -ve) integer or float is called as compex
cmplx1= 2 + 3j
print(cmplx1)
print(type(cmplx1))

cmplx1= 2 - 3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>
(2-3j)
<class 'complex'>

In [12]:
# Boolean : True and False
bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [15]:
# String
# any combination inside single quotes
# any combination inside double quotes
# any combination inside triple single quotes
# any combination inside triple doublr quotes

str1= 'This is a string'
print(str1)
print(type(str1))

str1 = "This is a string"
print(str1)
print(type(str1))

str1 = '''This is a string'''
print(str1)
print(type(str1))

str1 = """This is a string"""
print(str1)
print(type(str1))

This is a string
<class 'str'>
This is a string
<class 'str'>
This is a string
<class 'str'>
This is a string
<class 'str'>

In [16]:
str2 = '%^*(%$#*)'
print(str2)

%^*(%$#*)

In [18]:
# List
# 1. List is represented by square bracket []
# 2. List is mutable

lst1= [2, 3,5,7,34,66]
print(lst1)
print(type(lst1))

[2, 3, 5, 7, 34, 66]
<class 'list'>

In [19]:
# Set
# 1. Set is combination of unique values
# 2. Set is collection of unordered element
# 3. Set is represented by curly brackets
# 4. Set is mutable

set1 = {'a','b','c','D','E','F',1,2,3,'!','@','#','a','b','c','D','E','F',1,2,3,'!','@','#',}
print(set1)
print(type(set1))

{'@', 1, 'b', 3, 2, 'E', '!', 'a', 'c', 'F', '#', 'D'}
<class 'set'>

In [24]:
set2={True, False, 'a', 'b', 'c', 0, 1, 2, 3, '@'}

print(set2)
print(type(set2))

{False, True, 'b', 2, 3, 'a', 'c', '@'}
<class 'set'>

In [23]:
dict1 = {'a':'apple',
         'b':'banana',
         'c':'cherries'}

print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherries'}
<class 'dict'>

In [28]:
str1= 'thisisawesome'
len(str1)
for index,values in enumerate (str1):
  print( index, ':', values)

0 : t
1 : h
2 : i
3 : s
4 : i
5 : s
6 : a
7 : w
8 : e
9 : s
10 : o
11 : m
12 : e

In [31]:
#slicing [start:Stop:Step]
str1[6::1]

'awesome'

In [38]:
str1[:6:2]

'tii'

In [43]:
#negative slicing
str1[::-1]

'emosewasisiht'

In [58]:
str1[-4:-8:-1]

'sewa'

In [59]:
str1[9:5:-1]

'sewa'

In [54]:
str1[-8:-11:-1]

'sis'

In [62]:
str1[5:2:-1]

'sis'

In [63]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit','icefruit']
print(lst1)
print(type(lst1))

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit']
<class 'list'>

In [70]:
for index, values in enumerate(lst1):
  print(index, ':', values)

0 : apple
1 : banana
2 : cherries
3 : dates
4 : eggfruit
5 : fig
6 : grapes
7 : honeyfruit
8 : icefruit

In [64]:
lst1[0], lst1[1], lst1[2], lst1[3], lst1[4], lst1[5], lst1[6], lst1[7]

('apple',
 'banana',
 'cherries',
 'dates',
 'eggfruit',
 'fig',
 'grapes',
 'honeyfruit')

In [67]:
print(lst1[::])

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit']

In [69]:
#syntax lst[start index: stop index+1]
print(lst1[1:5])

['banana', 'cherries', 'dates', 'eggfruit']

In [73]:
#syntax lst[start:stop:step]
print(lst1[0::2])

['apple', 'cherries', 'eggfruit', 'grapes', 'icefruit']

In [74]:
#Negative indexing
print(lst1[::-1])

['icefruit', 'honeyfruit', 'grapes', 'fig', 'eggfruit', 'dates', 'cherries', 'banana', 'apple']

In [84]:
print(lst1[-1::-1])

['icefruit', 'honeyfruit', 'grapes', 'fig', 'eggfruit', 'dates', 'cherries', 'banana', 'apple']

In [85]:
len(lst1)

9

In [86]:
print(lst1[0:len(lst1):1])

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit']

In [87]:
print(lst1[0:9:1])

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit']

In [89]:
print(lst1[-9::1])

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'icefruit']

In [92]:
print(lst1[-9:-7:1])

['apple', 'banana']

In [94]:
print(lst1[-7:-9:-1])

['cherries', 'banana']

In [105]:
# Basic Python Operators
# arithmetic operators

a=62
b= 30
print(a+b)
print(a-b)
print(a*b)
print(round(a/b,2))
print(a//b) #quotient
print(a%b) #remainder
print(a**b)#exponential

92
32
1860
2.07
2
2
591222134364399413463902591994678504204696392694759424

In [106]:
# comparision operators

a=100
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a <=b)

False
True
True
False
True
False

In [112]:
# Assignment Operators
# a += b same as a = a + b
a= 100
b = 20

a+=b
print(1, a, b)

a -= b
print(2, a, b)

a *= b
print(3, a, b)

a /= b
print(4, a, b)

a %= b
print(5, a, b)

a //= b
print(6, a, b)

a **= b
print(7, a, b)

1 120 20
2 100 20
3 2000 20
4 100.0 20
5 0.0 20
6 0.0 20
7 0.0 20

In [114]:
# Python Logical Operators

a = 100
b = 20

print(a > 80 and b < 80) # both conditions need to meet
print(a == 80 and b < 80)
print(a < 80 and b < 80)
print(a > 80 and b > 80)

True
False
False
False

In [115]:
print(a > 80 or b < 80) # Either condition need to meet
print(a == 80 or b < 80)
print(a < 80 or b < 80)
print(a < 80 or b > 80)

True
True
True
False

In [116]:
# Python Membership Operators

a = 100
b = [100,200,300,400,500]

a in b

True

In [117]:

a = 600
b = [100,200,300,400,500]

a in b

False

In [118]:
a = 100
b = [100,200,300,400,500]

a not in b

False

In [119]:
a = 600
b = [100,200,300,400,500]

a not in b

True

In [121]:
# Python Identity Operators
a = 100
b = 20

a is not b

True

In [123]:
a is b

False

In [124]:
a = 100
b = 20

if a > b: # True
  print('a is greater than b')

a is greater than b

In [127]:
if a < b: # False
  print('a is less than b')

In [126]:
a = 100
b = 20

if (a > b) and (a != b): # True
  print('a is greater than b')

a is greater than b

In [129]:
if (a > b) and (a == b): # False
  print('a is greater than b')

In [130]:
if (a < b) and (a == b): # False
  print('a is greater than b')

In [131]:
if (a > b) or (a != b): # True
  print('a is greater than b')

a is greater than b

In [132]:
if (a > b) or (a == b): # True
  print('a is greater than b')

a is greater than b

In [134]:
if (a < b) or (a == b): # False
  print('a is smaller than b')
else:
  print('we are in else section')

we are in else section

In [135]:
if (a < b): # False
  print('a is greater than b')
else:
  print('we are in else section')

we are in else section

In [136]:
percentage = 34.99

if percentage >=75:
  print('First class with distinction')
elif percentage >=60:
  print('First class')
elif percentage >= 40:
  print('second class')
elif percentage >= 35:
  print('third class')
else:
  print('better luck next time')

better luck next time

In [137]:
a = 100

if a > 25:
  print('a > 25')
  if a > 50:
    print('a > 50')
    if a > 75:
      print('a > 75')
      if a > 100:
        print('a > 100')
        if a > 125:
          print('a > 125')

a > 25
a > 50
a > 75

In [139]:
# Nested If

a = 125

if (a < 200):
  print('if (a < 200):')
  if (a < 175):
    print('if (a < 175):')
    if (a < 150):
      print('if (a < 150):')
      if (a < 125):
        print('if (a < 125):')
        if (a < 100):
          print('if (a < 100):')
          if (a < 75):
            print('if (a < 75):')
          else:
            print('else if (a < 75):')
        else:
          print('else if (a < 100):')
      else:
        print('else if (a < 125):')
    else:
      print('else if (a < 150):')
  else:
    print('else if (a < 175):')
else:
  print('else if (a < 200):')

if (a < 200):
if (a < 175):
if (a < 150):
else if (a < 125):

In [140]:
# while loop

a = 100

while a > 10: # True/False
  print(a, 'is greater 10')
  a -= 1 # 99, 98, 97..... 15,14,13,12,11

100 is greater 10
99 is greater 10
98 is greater 10
97 is greater 10
96 is greater 10
95 is greater 10
94 is greater 10
93 is greater 10
92 is greater 10
91 is greater 10
90 is greater 10
89 is greater 10
88 is greater 10
87 is greater 10
86 is greater 10
85 is greater 10
84 is greater 10
83 is greater 10
82 is greater 10
81 is greater 10
80 is greater 10
79 is greater 10
78 is greater 10
77 is greater 10
76 is greater 10
75 is greater 10
74 is greater 10
73 is greater 10
72 is greater 10
71 is greater 10
70 is greater 10
69 is greater 10
68 is greater 10
67 is greater 10
66 is greater 10
65 is greater 10
64 is greater 10
63 is greater 10
62 is greater 10
61 is greater 10
60 is greater 10
59 is greater 10
58 is greater 10
57 is greater 10
56 is greater 10
55 is greater 10
54 is greater 10
53 is greater 10
52 is greater 10
51 is greater 10
50 is greater 10
49 is greater 10
48 is greater 10
47 is greater 10
46 is greater 10
45 is greater 10
44 is greater 10
43 is greater 10
42 is greater 10
41 is greater 10
40 is greater 10
39 is greater 10
38 is greater 10
37 is greater 10
36 is greater 10
35 is greater 10
34 is greater 10
33 is greater 10
32 is greater 10
31 is greater 10
30 is greater 10
29 is greater 10
28 is greater 10
27 is greater 10
26 is greater 10
25 is greater 10
24 is greater 10
23 is greater 10
22 is greater 10
21 is greater 10
20 is greater 10
19 is greater 10
18 is greater 10
17 is greater 10
16 is greater 10
15 is greater 10
14 is greater 10
13 is greater 10
12 is greater 10
11 is greater 10

In [141]:
a = 10

while a < 100: # True/False
  print(a, 'is less than 100')
  a += 10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100
50 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100

In [144]:
# Break Continue Pass
a = 10

while a < 100: # True/False
  if a == 50:
    break #stops at 50
  print(a, 'is less than 100')
  a += 10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100

In [145]:
a = 10

while a < 100: # True/False

  a += 10

  if a == 50:
    continue # skips 50
  print(a, 'is less than 100')

20 is less than 100
30 is less than 100
40 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100
100 is less than 100

In [148]:
a = 200

while (a < 500):
  pass

KeyboardInterrupt: ignored

In [147]:
# Write a program 0 to 100 and find odd and even numbers; use while loop

a = 100

while a >= 0:
  if a%2==0:
    print(a, 'is even number')
  else:
    print(a, 'is odd number')
  a -= 1

100 is even number
99 is odd number
98 is even number
97 is odd number
96 is even number
95 is odd number
94 is even number
93 is odd number
92 is even number
91 is odd number
90 is even number
89 is odd number
88 is even number
87 is odd number
86 is even number
85 is odd number
84 is even number
83 is odd number
82 is even number
81 is odd number
80 is even number
79 is odd number
78 is even number
77 is odd number
76 is even number
75 is odd number
74 is even number
73 is odd number
72 is even number
71 is odd number
70 is even number
69 is odd number
68 is even number
67 is odd number
66 is even number
65 is odd number
64 is even number
63 is odd number
62 is even number
61 is odd number
60 is even number
59 is odd number
58 is even number
57 is odd number
56 is even number
55 is odd number
54 is even number
53 is odd number
52 is even number
51 is odd number
50 is even number
49 is odd number
48 is even number
47 is odd number
46 is even number
45 is odd number
44 is even number
43 is odd number
42 is even number
41 is odd number
40 is even number
39 is odd number
38 is even number
37 is odd number
36 is even number
35 is odd number
34 is even number
33 is odd number
32 is even number
31 is odd number
30 is even number
29 is odd number
28 is even number
27 is odd number
26 is even number
25 is odd number
24 is even number
23 is odd number
22 is even number
21 is odd number
20 is even number
19 is odd number
18 is even number
17 is odd number
16 is even number
15 is odd number
14 is even number
13 is odd number
12 is even number
11 is odd number
10 is even number
9 is odd number
8 is even number
7 is odd number
6 is even number
5 is odd number
4 is even number
3 is odd number
2 is even number
1 is odd number
0 is even number

In [149]:
total = 0
num = int(input('enter a number '))

while num != 0:
  total += num
  num = int(input('enter a number '))
print(total)

enter a number 55
enter a number 3
enter a number 5
enter a number 88
enter a number 65
enter a number 0
216

In [150]:
# voting eligibility

total = 0
num = int(input('enter a voting age '))

while num >= 18:
  total += 1
  num = int(input('enter a voting age '))
print(total)

enter a voting age 18
enter a voting age 20
enter a voting age 50
enter a voting age 17
3

In [153]:
lst1 = [1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,77,88,99,110,12,23,34,45,56,67,78,89,90]

lst1.pop()

90

In [154]:
while lst1:
  print(lst1.pop())

89
78
67
56
45
34
23
12
110
99
88
77
66
55
44
33
22
11
10
9
8
7
6
5
4
3
2
1

In [155]:
# write a program where number is divisible by 5 and 7

num1 = int(input('Enter a number '))

while (num1%5==0) and (num1%7==0):
  print(num1, 'is divisible by 5 and 7')
  break
else:
  print(num1, 'is not divisible by 5 and 7')

Enter a number 35
35 is divisible by 5 and 7

In [156]:
lst1 = [12,23,34,45,56,67,78,89,90,21,32,43,54,65,76,87,98,9]

for i in lst1:
  print('value of i ', i)

value of i  12
value of i  23
value of i  34
value of i  45
value of i  56
value of i  67
value of i  78
value of i  89
value of i  90
value of i  21
value of i  32
value of i  43
value of i  54
value of i  65
value of i  76
value of i  87
value of i  98
value of i  9

In [157]:
tup1 = ('apple','banana','cherries','dates','eggfruit','fig','grapes','honeyfruit')

for i in tup1:
  print('value of i ', i)

value of i  apple
value of i  banana
value of i  cherries
value of i  dates
value of i  eggfruit
value of i  fig
value of i  grapes
value of i  honeyfruit

In [158]:
set1 = {'apple','banana','cherries','dates','eggfruit','fig','grapes','honeyfruit',12,23,34,45,56,67,78,89,90,21,32,43,54,65,76,87,98,9}

for i in set1:
  print('value of i ', i)

value of i  65
value of i  67
value of i  honeyfruit
value of i  9
value of i  12
value of i  76
value of i  78
value of i  21
value of i  23
value of i  87
value of i  89
value of i  90
value of i  grapes
value of i  32
value of i  fig
value of i  34
value of i  98
value of i  banana
value of i  43
value of i  45
value of i  dates
value of i  eggfruit
value of i  54
value of i  cherries
value of i  56
value of i  apple

In [159]:
str1 = 'Peppa prefer Python Programming'
print(len(str1))
for i in str1:
  print('value of i ', i)

31
value of i  P
value of i  e
value of i  p
value of i  p
value of i  a
value of i
value of i  p
value of i  r
value of i  e
value of i  f
value of i  e
value of i  r
value of i
value of i  P
value of i  y
value of i  t
value of i  h
value of i  o
value of i  n
value of i
value of i  P
value of i  r
value of i  o
value of i  g
value of i  r
value of i  a
value of i  m
value of i  m
value of i  i
value of i  n
value of i  g

In [164]:
dict1 = {'a':'apple', 'b':'ball', 'c': 'cat', 'd': 'doll'}

for i in dict1:
  print('value of i ', i)

value of i  a
value of i  b
value of i  c
value of i  d

In [165]:
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
  print('value of i ', i)

value of i  0
value of i  1
value of i  2
value of i  3
value of i  4
value of i  5
value of i  6
value of i  7
value of i  8
value of i  9

In [166]:
for i in range(0,10): # 0,1,2,3,4,5,6,7,8,9
  print('value of i ', i)

value of i  0
value of i  1
value of i  2
value of i  3
value of i  4
value of i  5
value of i  6
value of i  7
value of i  8
value of i  9

In [169]:
for i in range(0,10,1): # (start, stop, step) 0,1,2,3,4,5,6,7,8,9
  print('value of i ', i)

value of i  0
value of i  1
value of i  2
value of i  3
value of i  4
value of i  5
value of i  6
value of i  7
value of i  8
value of i  9

In [170]:
for i in range(0,10,2): # (start, stop, step)
  print('value of i ', i)

value of i  0
value of i  2
value of i  4
value of i  6
value of i  8

In [171]:
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
  for j in range(10): # 0,1,2,3,4,5,6,7,8,9
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [172]:
k=0
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
  for j in range(10): # 0,1,2,3,4,5,6,7,8,9
    k +=1
    print(k, end=' ')

  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [178]:
# Outer loop for the number of rows (10 rows in total)
for i in range(10):
    # Inner loop for printing spaces before the stars, adjusting based on the current row
    for j in range(0, 10 - i):
        print(' ', end='')

    # Inner loop for printing stars, adjusting based on the current row
    for k in range(0, i + 1):
        print('*', end=' ')

    # Move to the next line after printing each row
    print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [179]:
# Outer loop for the number of rows (10 rows in total)
for i in range(10):
    # Inner loop for printing spaces before the stars, adjusting based on the current row
    for j in range(0, i):
        print(' ', end='')

    # Inner loop for printing stars, adjusting based on the current row
    for k in range(10, i, -1):
        print('*', end=' ')

    # Move to the next line after printing each row
    print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *