<a href="https://colab.research.google.com/github/gplinkage/DataScienceBootCamp/blob/main/Class%20Notes/Exercise/My%20OwnExcercise/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let us say your expense for every month are listed below,


January - 2200
February - 2350
March - 2600
April - 2130
May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [31]:

lst1=[2200, 2300, 2600, 2130, 2190]

#1
print('Extra expenses in Feb:', lst1[1]- lst1[0])

#2
print("Total expenses Jan-Mar:", lst1[0]+ lst1[1]+lst1[2])

#3
for items in lst1:
  if items==2000:
    print('Yes, exactly $2000 was spent during at leat a month')
  else:
    print('No, exactly $2000 was not spent at any months')
  break
#4
lst1.insert(5,1980)
print(lst1)

#5
exp_april = lst1[3]-200
lst1.insert(3,exp_april)
lst1.pop(4)
lst1

Extra expenses in Feb: 100
Total expenses Jan-Mar: 7100
No, exactly $2000 was not spent at any months
[2200, 2300, 2600, 2130, 2190, 1980]

[2200, 2300, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [66]:
super_heros=['Spider Man', 'Captain America', 'Iron Man', 'Thor', 'the Hulk', 'Ant Man', 'the Wasp']
#1
print(len(super_heros))

#2
super_heros.append('Black Panther')
print(super_heros)

#3
super_heros.remove('Black Panther')
super_heros.insert(5, 'Black Panther')
print(super_heros)

#4
super_heros[3:4] = ['Doctor Strange']
print('Codes in a single line:', super_heros)
#5
super_heros.sort()
print("Sorted list: ",super_heros)

7
['Spider Man', 'Captain America', 'Iron Man', 'Thor', 'the Hulk', 'Ant Man', 'the Wasp', 'Black Panther']
['Spider Man', 'Captain America', 'Iron Man', 'Thor', 'the Hulk', 'Black Panther', 'Ant Man', 'the Wasp']
Codes in a single line: ['Spider Man', 'Captain America', 'Iron Man', 'Doctor Strange', 'the Hulk', 'Black Panther', 'Ant Man', 'the Wasp']
Sorted list:  ['Ant Man', 'Black Panther', 'Captain America', 'Doctor Strange', 'Iron Man', 'Spider Man', 'the Hulk', 'the Wasp']

In [51]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']